<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_components/global-head', {title: 'User-Auth - Documentación'})
    %>
    <link rel="stylesheet" href="/public/css/docs.css">
    <link rel="stylesheet" href="/public/css/prism.css" />
  </head>
  <body>
    <%- include('_components/nav-bar') %>
    <main class="container">
      <%- include('_components/index-docs') %>
      <%- include('_components/list-docs') %>
    </main>

    <!-- Scripts -->
    <%- include('_components/global-script') %>
    <script src="/public/js/prism.js"></script>
  </body>
</html>
