<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_components/global-head', {title: 'User-Auth - Inicio'}) %>
    <link rel="stylesheet" href="/public/css/home.css" />
  </head>
  <body>
    <%- include('_components/nav-bar') %>
    <main>
      <h1 class="title-home">User-Auth-Api</h1>
      <h2>Administra tus usuarios fácilmente</h2>
      <p class="text-home">
        Con <b class="emphasis">User-Auth-Api</b> podrás crear, modificar,
        eliminar y administar tus usuarios sin demasiadas complicaciones.
        Nuestra api es segura y confiable. ¡No esperes más y genera tu api-key
        hoy mismo!
      </p>

      <% if (error) { %>
      <p class="error-message"><%= error %></p>
      <% } %> <% if (info) { %>
      <p class="info-message"><%= info %></p>
      <% } %>

      <form action="/" method="post" id="form-home" class="form-home">
        <label for="email">Ingrese su e-mail por favor</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="user@email.com"
          autocomplete="email"
        />
        <p class="error-message-input" id="error-home"></p>
        <br />
        <button type="submit" id="submit-home" disabled>Generar Api-Key</button>
      </form>
    </main>

    <!-- Scripts -->
    <%- include('_components/global-script') %>
    <script src="/public/js/home.js"></script>
  </body>
</html>
